.section hr:not(:first-child) {
    border-top-width: 4px;
}

.section h2:not([plain]) {
    background-color: #707070;
    color: white;
    padding-left: 0.5em;
    border-radius: 3px;
    margin-top: 3em;
}

.badge {
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #ffffff;
    font-weight: 700;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}
.badge--required {
    background-color: #E4711D;
    vertical-align: baseline;
}
.badge--recommended {
    background-color: #5eb824;
    vertical-align: baseline;
}
.badge--optional {
    background-color: #b0b0b0;
    vertical-align: baseline;
}

.badge--derived {
    background-color: #527fb2;
    vertical-align: baseline;
}

.badge--multi {
    background-color: #ab70ab;
    vertical-align: baseline;
}

.example {
    border: 1px solid #e0e0e0;
    background: #fcf5e7;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 1em;
}

.example-heading {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 0.4em;
    color: #909090;
}